@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

body {
  background: url(./assets/pomodoro.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #330000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Grechen Fuemen', cursive;
  min-height: 97vh;
  text-align: center;
}

.App {
  position: relative;
  top: 15vh;
}

button {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 15px;
  margin: 10px;
  border: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-container {
  margin: -50px 20px 20px;
}

.timer-container h2 {
  margin: 0;
}

.actions-wrapper span {
  font-size: 40px;
  margin: 0 10px;
}

.clock-container {
  display: inline-block;
  padding: 10px;
}

.clock-container h1 {
  margin: 0;
}

.clock-container span {
  font-size: 60px;
}
